* {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}


body {
  background: linear-gradient(to bottom, #5094DC,#96EAC3);
}

.header_logo {
  border-radius: 15px;
  width: auto;
}


.navbar {
  width: auto;
  border-radius: 20px;
  color: white;
  margin: 20px;
}

.navbar_logo {
  height: 50px;
}

.img_carrusel{
      height: 400px;
      object-fit: cover;
}

.imagen_tvazteca {
  height: 90px;

}

.imagen_diario_universal {
  height: 100px;

}

.imagen_diario_expansion {
  height: 80px;
  width: 120px;

}

.imagen_diario_milenio {
  height: 90px;

}

.imagen_diario_chilango {
  height: 70px;
  width: 130px;
}

.imagen_imagen_television {
  height: 80px;

}

.imagen_reforma {
  height: 80px;

}

.imagen_elpais {
  height: 40px;
  width: 110px;
}

.imagen_univision {
  height: 90px;
  width: 80px;
}

.video {
  border-radius: 20px;

}
.video-container {
  position: relative;
  padding-bottom: 26.25%;
  /* Proporción de aspecto 16:9 (dividir la altura por el ancho y multiplicar por 100) */
  height: 0;
  overflow: hidden;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper-inner {
  position: relative;
}


.mapa {

   
    height: 220px;
    border-radius: 40px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #34495E;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.logo_footer {
  height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.logo_fb {
  height: 80px;
  width: 80px;
}

.logo_youtube {
  height: 160px;
  width: 160px;
}

.logo_wa {
  height: 150px;
  width: 150px;
}

.mapa{
  padding: 30px;
}

.formulario{
  padding: 60px;
}



.container-boton {
  background-color: white;
  border: 1px solid white;
  position: fixed;
  z-index: 1;
  border-radius: 90%;
  bottom: 20px;
  right: 25px;
  padding: 20px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.container-boton a {
  background-color: white;
}

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.boton {
  width: 60px;
  transition: ease 2s;
  background-color: white;
  color: gray;
}