* {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  background-color: #54A4C5;
}

.header_logo {
  border-radius: 40px;
}

.navbar {
  width: auto;
  border-radius: 20px;
  color: white;
}

.navbar_logo {
  height: 50px;
}


ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}

li {
  font-size: 25px;
  color: white;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.imagen_tvazteca {
  height: 90px;

}

.imagen_diario_universal {
  height: 100px;

}

.imagen_diario_expansion {
  height: 80px;
  width: 120px;

}

.imagen_diario_milenio {
  height: 90px;

}

.imagen_diario_chilango {
  height: 70px;
  width: 140px;
}

.imagen_imagen_television {
  height: 80px;

}

.video {
  border-radius: 40px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #34495E;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.logo_footer {
  height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.logo_fb {
  height: 80px;
  width: 80px;
}

.logo_youtube {
  height: 160px;
  width: 160px;
}

.logo_wa {
  height: 150px;
  width: 150px;
}

.mapa{
  padding: 30px;
}

.formulario{
  padding: 60px;
}

.container-boton {
  background-color: white;
  border: 1px solid white;
  position: fixed;
  z-index: 1;
  border-radius: 90%;
  bottom: 20px;
  right: 25px;
  padding: 20px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.container-boton a {
  background-color: white;
}

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.boton {
  width: 80px;
  transition: ease 2s;
  background-color: white;
  color: gray;
}